langchain
langgraph
pydantic>=2.0
groq
google-genai
pdfplumber
pdf2image
python-dotenv
sentence-transformers
numpy
pytesseract
supabase
schedule
fastapi
uvicorn[standard]
python-multipart
mistralai
pypdf
pydantic[email]